  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  
  @media (min-width: 768px) {
    .childgrant-container {
        display: flex;
        align-items: flex-start;

        .lSSlideOuter, .single-image {
            flex: 25%;
            margin-right: 1em;
        }

        .child-details {
            flex: 75%;
        }
    }
}

  .type-childgrant h1.post-title.entry-title, .childgrant-listpage h2.post-title.entry-title {
	text-align: center;
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
  }
  
  
  .childgrant-container {
	font-size: 16px;
    margin-bottom: 50px;

    div {
        color: #665c52;
    }
    a {
        color: rgb(0,0,238);
    }

    .lSSlideOuter li {
        margin-left: unset;
    }
  
    .listed-date-details {
        margin-bottom: 10px;
    }
  
    .childgrant-content {
        border-top: thin solid #665c52;
        padding: 1em 0 1em 0;
    }

    .special-grant, .availability-details {
        border-top: thin solid #665c52;
        font-weight: bold;
        padding: 1em 0 1em 0;
        text-align: center;
        display: flow-root;
    }

    .sizeable-grant-categories {
        padding-top: 2em;
    }

    .sizeable-grant-details {
        text-align: center;
        padding-bottom: 1em;
        font-weight: bold;
    }

    .donation-can_content-widget {
        border-top: thin solid #665c52;
    }
  }

.childgrant-nav {
    text-align: center;
    a {
        color: rgb(0,0,238);
        font-weight: bold;
    }
  }

.mffm-details {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}
@media (max-width:767px){
    .sponsor-image-container, .sponsor-image {
      margin: auto;
      display: block;
  }
}
@media (min-width:768px){
    .sponsor-image {
      float: right;
      display: block;
      position: relative;
  }
}

