.rr-report  {
    table {
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 18px;
    }
    
    table caption {
        padding: 0;
        font-size: 18px;
    }

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        vertical-align: top;
    }
    
    th {
        padding: 0;
        border-style: none;
        border-left:none;
        border-top:none;
    }
    
    td {
        font-size: 18px;
        padding: 0;
        border-style: none;
        border-left:none;
        border-top:none;
    }
    
    tr th:first-child, tr td:first-child{
        border-left-style: none;
    }
    
    tr:first-child th, tr:first-child td{
        border-top-style: none;
    }
    @media (max-width: 610px) {
        table.main-width {
            width: 100% !important; 
        }
    }
}

.rr-report-archive {
    h1.post-title.entry-title {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        padding:0px 0 15px;
        letter-spacing: 2px;
        line-height: 1.3em;
        margin-bottom:10px;
    }
}

#top .report-listpage {
    display: flex;
    flex-wrap: wrap;
    h2.post-title.entry-title {
        font-size: 1.4em;
    }
    .report.post-entry { 
        width: 100%;
        @media (min-width: 768px) {
            width: 33%;
        }
        @media (min-width: 560px) and (max-width: 767px) {
                width: 50%;
        }
    }
    
}

.report-intro {
    padding: 0 0 25px;
}

span.mobile-line {
    width: 100%;
    @media (min-width: 560px) {
        display: none
    }
    hr {
        border: solid #3b5559;
        border-width: 1px 0;
    }
}

